html, body {
}
.header {
  padding: 20px;
}
.topnav {
  margin: auto;
  text-align: right;
}
.topnav li {
  display: inline;
}
.topnav img {
  float: left;
  width: 50px;
}
.topnav a {
  text-decoration: none;
  padding: 20px;
  color: #216393;
}
.topnav a.active {
  text-decoration: underline;
}
.banner {
  height: 1px;
  width: 100%;
  border: 0px 0px 25px 0px;
  border-color: #216393;
  background-color: #216393;
}
