html, body {

}

nav {
  margin: auto;
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
a {
  text-decoration: none;
  padding: 20px;
  color: #000000;
}

.container {
    border-radius: 5px;
    float: left;
    background-color: white;
    padding: 20px;
    margin-top: 18px;
    border: 1px solid blue;
}
