html, body {
}
.header {
  padding: 20px;
}
.topnav {
  margin: auto;
  text-align: right;
  overflow: hidden;
}
.topnav li {
  display: inline;
}
.topnav img {
  float: left;
  width: 50px;
}
.topnav a {
  text-decoration: none;
  padding: 20px;
  color: #216393;
}
.topnav a.active {
  text-decoration: underline;
}
.banner {
  height: 1px;
  width: 100%;
  border: 0px 0px 25px 0px;
  border-color: #216393;
  background-color: #216393;
}
/* TopNav dropdown */
.dropdown {
    float: right;
    display: inline-block;
}
.dropdown .dropbutton {
    background-color: #ffffff;
    color: #216393;
    padding: 10px;
    border: solid 1px #216393;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.show {
  display: block;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom:16px;
  border: 3px solid #216393;
}
input[type=submit]{
  background-color: white;
  color: black;
  padding: 12px 20px;
  border-color: #216393;
  border-radius: 4px;
  cursor:pointer;
}

input[type-submit]:hover{
  background-color: #216393;
}
.container {
    border-radius: 5px;
    float: center;
    background-color: white;
    padding: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
    border: 3px solid #216393;
}

.grid-container {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
}

.grid-item {
  border-radius: 20px;
  margin-top: 10px;
  border: 3px solid #216393;
  padding: 10px;

}

.headline {
  font-size: 20px;
  color: #216393;
  text-align: center;
}

/* Login Style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
}

/* Close Button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
<<<<<<< HEAD

=======
>>>>>>> 586025348e4ebfcc824cfb0fa5e762c038885b65
   background-color:#216393;
   color: white;
   text-align: center;
   list-style-type: none;


 }

 .lessonplans img {
   width: 70%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 4%;

 }
